.nav-wrapper {
  /* position: fixed; */
  position: fixed;
  top: 0;
  display: block;
  width: 100%;
  flex-direction: row;
  padding-left: 5vw;
  padding-right: 5vw;
  height: 4rem;
  margin-left: auto;
  margin-right: auto;
  background: rgba(0, 0, 0, 90%);
  z-index: 99;
  color: white;
}

.nav-list {
  display: flex;
  width: 100%;
  height: 100%;
  list-style: none;
  justify-content: space-between;
  padding-top: 1rem;
  overflow: hidden;
  border-top: none;
}

.nav-list {
  display: flex;
}

.nav-left {
  display: flex;
  flex-direction: column;
}

.nav-left a {
  /* animation: color-change 1s infinite; */
  color: white;
}

.nav-right button {
  background: transparent;
  border-radius: 3px;
  border: 2px solid White;
  margin: 0 1em;
  padding: 0.25em 1em;
  transition: 0.4s ease-in-out;
}

.nav-right button:hover {
  background: darkblue;
}

.nav-right a {
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 768px) {
  .nav-right a {
    text-decoration: none;
    color: black;
    font-size: 0.8rem;
  }
}

@keyframes color-change {
  0% {
    filter: grayscale(100%);
  }
  25% {
    filter: grayscale(75%);
  }
  50% {
    filter: grayscale(50%);
  }
  50% {
    filter: grayscale(25%);
  }
  100% {
    filter: grayscale(0%);
  }
}
