#timeline-wrapper {
  width: 80vw;
  padding-top: 20px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  /* background-color: black; */
}

#timeline-wrapper h1 {
  margin-bottom: 15px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  #timeline-wrapper h1 {
    font-size: 1rem;
    color: black;
    overflow-x: hidden;
    width: 80vw;
  }

  #timeline-wrapper h2,
  #timeline-wrapper h3 {
    font-size: 1rem;
  }

  #timeline-wrapper h4 {
    padding-top: 0.3rem;
    font-size: 0.8rem;
  }
  #timeline-wrapper p,
  .button-explore {
    font-size: 0.8rem;
  }
}
