* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
button {
  font-family: "Montserrat", sans-serif;
  font-weight: 1000;
  font-style: oblique;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 5;
  color: black;
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 1rem;
    color: black;
  }

  h2,
  h3,
  a {
    font-size: 0.8rem;
  }

  p {
    font-size: 0.8rem;
  }

  button {
    font-size: 0.5rem;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
